/* .navbar {
  background-color: red;
  width: 35vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(240, 1%, 17%, 0.75);
  border-radius: 0px 20px 0px 20px;
}
.data {
  width: 35vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
} */
